.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;

}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
 width: 1158px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
 display: flex;
 align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-color {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-item {
  color: #2e2f42;

}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 24px 0;
  display: block;
}
.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-menu {
 display: flex;
 align-items: center;
 gap: 40px;
}

.address-menu-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 24px 0;
}
.address-menu-link:hover {
  color: #404bbf;
}
.address-menu-link:focus {
  color: #404bbf;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.order-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-title {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}
.button-title:hover {
  background-color: #404bbf;
}

.button-title:focus {
  background-color: #404bbf;
}
.button-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.features {
  padding: 120px 0;
}
.features-menu {
  flex-direction: row;
  display: flex;
  gap: 24px;
  padding: 0;
}
.features-menu:first-child {
  width: calc((100% - 72px) / 4);
}
.features-menu-item {
  width: calc((100% - 72px) / 4);

} 
.features-menu-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-menu-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
 
}
  




.container-name-text {
  padding: 32px 0 32px

}

.ourteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ourteam-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
  margin-bottom: 72px;
}
.ourteam-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.ourteam-menu-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4) ;
}
.ourteam-menu-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
 
  margin-bottom: 8px;
}
.ourteam-menu-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title{
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-menu:first-child{
  width: calc((100% - 48px) / 3);
}

.portfolio-container-name-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-menu-item {
  max-width: calc((100% - 48px) / 3);

}
.portfolio-menu-name {
  color: #2e2f42;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
 
  margin-bottom: 8px;
}


.portfolio-menu-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  flex-direction: column;
  

}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display:inline-block;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
 
}
